@page
@model Patterns_KNTu_22_1_Surhai_Andrii.Pages.Users.CreateModel
@{
}


<div>
    <h2>
        <p>CREATE USER</p>
    </h2>
    <form method="POST" asp-page-handler="Create">
        <label for="surname" class="col-form-label">Surname:</label>
        <input type="text" id="surname" name="surname" required>
        <br>

        <label for="name" class="col-form-label">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="patronymic" class="col-form-label">Patronymic:</label>
        <input type="text" id="patronymic" name="patronymic" required>
        <br>

        <label for="email" class="col-form-label">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>

        <label for="phone" class="col-form-label">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
