@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Test Database Connection</h2>

@using Patterns_KNTu_22_1_Surhai_Andrii.DAL

<form method="post">
    <button type="submit" name="testConnectionButton">Test Database Connection</button>
</form>
<div>
    @if (!string.IsNullOrEmpty(Model.TestResult))
    {
        <p>@Model.TestResult</p>
    }
</div>